* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d5f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    width: 90%;
    max-width: 420px;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #b0f12c, #3168a6);
    color: #000;
  }
  
  .logo-placeholder {
    width: 60px;
    height: 40px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 15px;
  }
  
  .brand-title {
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .qr-reader {
    width: 100%;
    padding: 20px;
  }
  
  #result-box {
    background-color: #eef6fa;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 10px;
  }
  
  .label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  #result {
    font-size: 1.1rem;
    font-weight: 600;
    color: #007b4d;
    word-wrap: break-word;
  }
  
  .footer {
    padding: 15px;
  }
  
  .footer img {
    width: 60px;
  }
  


.hidden {
    display: none;
  }
  
  .btn {
    margin: 20px auto 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #31a24c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #27873f;
  }
  
  .toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 999;
  }
  
  .toast.show {
    opacity: 1;
  }
  
  .scan-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .scan-section:hover {
    transform: scale(1.05);
  }
  
  .camera-icon {
    width: 60px;
    height: 60px;
    color: #333;
  }
  
  .scan-label {
    margin-top: 8px;
    font-weight: bold;
    color: #000;
  }
  